{% extends 'header.html' %}
{% load static %}
{% block content %}

<div class="section">
	<div class="container">
<section class="about-section">
	<div class="product-body">
        <h1>About Us</h1>
        <p><b>Welcome to Electro Shop! We are your one-stop destination for the latest laptops and cutting-edge cameras. Our mission is to provide you with top-notch technology that empowers your creativity and productivity.</b></p>
        
        <h2>Our Story</h2>
        <p><b>Founded in 2021, Laptop, Camera & Accessories Shop started as a passion project of tech enthusiasts who believe that technology can transform lives. What began as a small shop has now grown into a hub of innovation and excellence.</b></p>
        
        <h2>Our Values</h2>
        <ul >
            <li ><b>Quality: We are committed to offering products of the highest quality.</b></li>
            <li><b>Customer Satisfaction: Your satisfaction is our priority, and we strive to exceed your expectations.</b></li>
            <li><b>Expertise: Our team consists of tech experts who are always ready to assist you.</b></li>
            <li><b>Innovation: We stay updated with the latest trends to provide you with cutting-edge technology.</b></li>
        </ul>
        
        <h2>Visit Us</h2>
        <p><b>We are located at Sanand, Ahmedabad. Feel free to visit us during our business hours and explore our range of laptops, cameras & Accessories.</b></p>
        
        <h2>Contact Us</h2>
        <p><b>If you have any questions or inquiries, don't hesitate to contact us. You can reach us at ** 9664763864 ** or ** thegiftsbag@gmail.com **</b></p>
    </div>    
    </section>
	</div>
</div>

{% endblock %}