{% extends 'header.html' %}
{% load static %}
{% block content %}

<<!DOCTYPE html>
<html>
<head>
	<script src="https://js.stripe.com/v3/"></script>
</head>
<body>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							{% if carts %}
								<h2 class="title">MY CART - {{carts.count}}</h2>
							{% else %}
								<h2 class="title">No Products In Cart</h2>
							{% endif %}
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for i in carts %}
										<div class="product">
											<div class="product-img">
												<img src="{{i.product.product_image.url}}" alt="" height="250px" width="250px">
												
											</div>
											<div class="product-body">
												<p class="product-category">{{i.product.product_category}}</p>
												<h3 class="product-name"><a href="#">{{i.product.product_name}}</a></h3>
												<h4 class="product-price">Product Price : {{i.product_price}} </h4>
												<form method="post" action="{% url 'change-qty' %}">
													{% csrf_token %}
													<label class="product-price">Product Qty :</label>
													<input type="hidden" name="pk" value="{{i.pk}}">
													<input type="number" name="product_qty" value="{{i.product_qty}}" class="product-price" min="1" max="10" onchange="this.form.submit();" >
													
												</form>
												<h4 class="product-price" >Total Price : {{i.total_price}} </h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												
											</div>
											<div class="add-to-cart">
												<a href="{% url 'product-details' pk=i.product.pk %}"><button type="button" class="add-to-cart-btn"><i class="fa fa-eye"></i>Product Details</button></a>
											</div>
										</div>
										{% endfor %}

										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
				<br>
				<h1 style="color: blue;">Net Price : {{net_price}}</h1>
				<h1>Net Price : {{net_price}}</h1>
				<form method="post">
                    <input type="hidden" id="net_price" name="amount" value="{{net_price}}">
                    <button type="button" class="btn btn-lg btn-primary" id="checkout-button">Checkout</button>
                </form>
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	<script type="text/javascript">
    var stripe = Stripe('pk_test_51NkOqnSHz7CBNzxqz43rlETrzZuRIRXKRZNaphkqWCIeh0OUNPvREXVxpx2ctxRtbmCjCX2Vvkec0PUYcg25gWHh00vSvUKPGn');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() { 
        fetch('/create-checkout-session/', {
        method: 'POST',
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        },
        body: JSON.stringify({'post_data':'{{net_price}}'})
    })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
 </script>

</body>
</html>

{% endblock %}
		
