{% extends 'header.html' %}
{% load static %}
{% block content %}

		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Change Password</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Change Password</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						{% if msg %}
							<b style="color:red;">{{msg}}</b>
						{% endif %}
						<!-- Billing Details -->
						<form name="frm" method="post" action="{% url 'change-password' %}">
							{% csrf_token %}
							<div class="billing-details">
								
								<div class="form-group">
									<input class="input" type="password" id="oldpassword" name="oldpassword" placeholder="Old Password">
									<span id="oldpassword_error"></span>
								</div>
								<div class="form-group">
									<input class="input" type="password" id=newpassword name="newpassword" placeholder="New Password">
									<span id="newpassword_error"></span>
								</div>
								<div class="form-group">
									<input class="input" type="password" name="cnewpassword" placeholder="Confirm New Password">
								</div>
								
								<div class="form-group">
									<input class="btn btn-primary" type="submit" name="action" value="Change-Password">
								</div>
								
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	<script>
    $("#oldpassword").change(function(){
        var oldpassword=$(this).val();
        // alert(email);

        $.ajax({
            url: '/ajax/validate_oldpassword/',
            data: {
                'oldpassword': oldpassword
            },
            dataType: 'json',
            success: function(data) {
                if (!data.is_taken) {
                    /*document.getElementById("email").style.border="5px solid red";*/
                    document.getElementById("oldpassword_error").innerHTML="Old Password Does Not Matched";
                }else{
                    /*document.getElementById("email").style.border="5px solid red";*/
                    document.getElementById("oldpassword_error").innerHTML="";
                }
            }
        });
    });

    $("#newpassword").change(function(){
        var newpassword=$(this).val();
        // alert(email);

        $.ajax({
            url: '/ajax/validate_oldpassword/',
            data: {
                'newpassword': newpassword
            },
            dataType: 'json',
            success: function(data) {
                if (data.is_taken) {
                    /*document.getElementById("email").style.border="5px solid red";*/
                    document.getElementById("newpassword_error").innerHTML="Old Password & New Password Matched";
                }else{
                    /*document.getElementById("email").style.border="5px solid red";*/
                    document.getElementById("newpassword_error").innerHTML="";
                }
            }
        });
    });
	</script>	


{% endblock %}