{% extends 'seller-header.html' %}
{% load static %}
{% block content %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Total Products - {{products.count}}</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a href="{% url 'seller-view-product' %}">All</a></li>
									<li><a href="{% url 'seller-view-laptop' %}">Laptop</a></li>
									<li><a href="{% url 'seller-view-camera' %}">Cameras</a></li>
									<li><a href="{% url 'seller-view-accessories' %}">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for i in products %}
										<div class="product">
											<div class="product-img">
												<img src="{{i.product_image.url}}" alt="" height="250px" width="250px">
												
											</div>
											<div class="product-body">
												<p class="product-category">{{i.product_category}}</p>
												<h3 class="product-name"><a href="#">{{i.product_name}}</a></h3>
												<h4 class="product-price">{{i.product_price}}</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>			
											</div>
											<div class="add-to-cart">
												<a href="{% url 'seller-product-details' pk=i.pk %}"><button type="button" class="add-to-cart-btn"><i class="fa fa-eye"></i>Product Details</button></a>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
	
{% endblock %}
		
